.section{
  margin-top: 100px;

  .container{
    display: flex;
    flex-direction: column;
    gap: 24px;

    .cards{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .btn{
      margin: 0 auto;
      width: 338px;
      text-decoration: none;
    }
  }
}