.section{
  margin-top: 100px;

  .container{
    display: flex;
    flex-direction: column;
    gap: 24px;

    .content{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px 20px;

      .item{
        display: grid;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}