.primary {
  padding: 6px 24px 6px 24px;
  background-color: var(--primary-button);
  color: var(--primary-text-color);
  border: none;
  border-radius: 12px;

  &:hover {
    background: var(--blue);
    color: var(--primary-text-color);
  }

  &:active {
    background: var( --primary-button);
    color: var(--primary-text-color);
  }

  &:disabled {
    background: var(--grey);
    color: var(--primary-text-color);
  }
}

.secondary {
  padding: 6px 24px 6px 24px;
  background-color: var(--primary-text-color);
  color: var(--surface-bg);
  border-radius: 12px;

  &:hover {
    background: var(--surface-bg);
    color: var(--primary-text-color);
  }

  &:active {
    background: var(--blueAccent);
    color: var(--primary-text-color);
  }

  &:disabled {
    background: var(--grey);
    color: var(--primary-text-color);
  }
}

.tetriary {
  width: 50%;
  text-align: center;
  padding: 6px 24px 6px 24px;
  background-color: var(--primary-text-color);
  color: var(--darkBlue);
  border: none;
  border-radius: 12px;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid var(--blue);
    padding: 5px 24px 0px 24px;
    color: var(--blue);
    border-radius: 0px;
  }

  &:active {
    padding: 6px 24px 6px 24px;
    border-bottom: none;
    background: var(--blueAccent);
    color: var(--primary-text-color);
    border-radius: 12px;
  }

  &:disabled {
    background: var(--primary-text-color);
    color: var(--grey);
  }
}