@use "@/app/styles/mixins.scss" as *;

.section {
  margin-top: 100px;

  @include SmallTablet {
    margin-top: 61px;
  }

  .title {
    text-align: left;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
    margin-bottom: 24px;

    @include SmallTablet {
      flex-direction: column;
    }
  }

  .btn {
  display: flex;
    align-items: center;
    justify-content: center;

    .button {
      @include SmallTablet {
        width: 100%;
        height: 34px;
      }
  
      @include SmallMobile {
        width: 100%;
        height: 100% !important;
      }
  
    }
  }
}