@use '@/app/styles/mixins.scss' as *;
.section{
  margin-top: 100px;
}
.accordionItem {
  margin-top: 24px;
  width: 100%;
  box-shadow: 0px 0px 12px 0px #00000040;
  padding: 16px 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.accordionHeader {
  position: relative;
  background-color: var(--background-color);
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.active {
  padding: 12px 0px;
}

.icon {
 width: 24px;
 height: 24px;


}

.accordionContent {
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 35px;

  @include Tablet {
    padding: 0;
  }
}