@use '@/app/styles/mixins.scss' as *;
.breadCrumbs {
  display: flex;
  list-style: none;
  align-items: center;

  &Container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

}

.link {
  display: flex;
  align-items: center;
  color: var(--black-blur);
  gap: 5px;

  &:hover {
    color: var(--black-main);
    text-decoration: underline;
    text-decoration-color: var(--black-main);
  }

  &:active {
    color: var(--black-main);
    text-decoration: none;
  }
}

.breadCrumbActive {
  color: var(--black-main);
}