.container{
  width: 295px;
  height: 432px;
z-index: -999;
position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }

  .content{
    position: absolute;
    display: flex;
    left: 24px;
    top: 280px;
    width: 247px;
    height: 128px;
    flex-direction: column;
    background: #FFFFFFB8;
    gap: 6px;
 box-shadow: 0px 0px 24px 0px #FFFFFF0F;
  
    box-shadow: 0px 4px 4px 0px #00000040;
      border-radius: 16px;
      padding: 12px 12px 12px 12px;
  }
}