.adress{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container{
  display: flex;
  color: var(--primary-text-color);
  gap: 27px;

  .item{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
.grafic{
  display: flex;
  justify-content: space-between;
  color: var(--primary-text-color);
  gap: 8px;

  .item{
    display: flex;
    gap: 35px;
  }
}