@use '@/app/styles/mixins.scss' as *;

.footer {
  margin-top: 100px;
  background-color: var(--primary-color);
  display: flex;
  padding: 50px 0px;

  @include Tablet {
    padding: 50px 60px;
    width: 100%;
  }

  @include SmallTablet {
    padding: 40px 0px;
  }

  @include SmallMobile {
    padding: 40px 0;
    width: 100%;
  }

  .logo {
    width: 118px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include Tablet {
      width: 88px;
      height: 48px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include Mobile {
      width: 101px;
      height: 48px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .content {
    display: flex;
    gap: 113px;

    @include Tablet {
      gap: 20px;
    }

    @include Mobile {
      gap: 20px;
    }
    @include SmallMobile{
      flex-direction: column;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

    @include Tablet {
      width: 100%;
      gap: 40px;
    }

    @include Mobile {
      width: 100%;
      gap: 40px;
    }

    .nav {
      display: flex;
      gap: 401px;

      @include Tablet {
        gap: 20px;
        position: relative;
      }

      @include SmallMobile {
      border-top: 1px solid var(--primary-text-color);
      padding-top: 16px;
      }

      .links {
        display: flex;
        gap: 42px;

        @include SmallMobile {
          flex-direction: column;
        }

        .lin {
          text-decoration: none;
          color: var(--primary-text-color);
        }
      }
    }

    .social {
      display: flex;
      gap: 12px;

      @include Tablet {
        position: absolute;
        right: 0;
        top: 270px;
      }

      @include SmallTablet {
        position: absolute;
        right: 0;
        top: 270px;
      }

      @include Mobile {
        position: absolute;
        right: 0;
        top: 250px;
      }

      @include SmallMobile {
        position: absolute;
        left: 250px;
        top: -60px;
      }

      .link {
        display: flex;
        gap: 12px;
        text-decoration: none;
        color: var(--primary-text-color);

        .icon {
          width: 24px;
          height: 24px;

          svg {
            width: 100%;
            height: 100%;
          }

          @include Tablet {
            width: 20px;
            height: 20px;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;

    @include Mobile {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include SmallMobile {
      margin-top: 16px;
      margin-bottom: 16px;
    }

  }

  .desc {
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}