@use "@/app/styles/mixins.scss" as *;

.section {
  .title {
    margin-bottom: 24px;
  }

  .container {
    display: flex;
    gap: 20px;

    @include Tablet {
      flex-direction: column;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @include Tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include SmallMobile {
        grid-template-columns: repeat(1, 1fr);
      }

      .item {
        @include SmallTablet {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .mainBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}